#singleComment {
    border-radius: 25px;
    border: 9px dotted lightblue;  
    padding: 50px; 
    width: block; 
    height: 100px; 
    display: block; 
    flex-direction: column;
}


#arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

