#commentDiv {
    border-radius: 25px;
    border: 9px dotted lightblue;  
    padding: 50px; 
    width: flex;
    height: 100px; 
    display: flex-align-items;
}


#arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

