#commentDiv {
    background-color: palegoldenrod;
    border: 5px blue solid;
}

.comment{
    border: 5px blue solid;
}

.singleComment {
    border: 5px blue solid;
    
}

#arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
