#header {
background-color: lightcyan;
text-align: center;

}

#date-element {
    display: flex;
}

#bold-title {
    font-family: "Times New Roman", Times, serif;
font-size: 40px;
letter-spacing: 1px;
word-spacing: 6px;
color: #000001;
font-weight: 700;
text-decoration: line-through solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
}

#main-logo {
    position: absolute;
    top: 0px;
    right: 0px;
}


