#ListBack {
  
    border-radius: 25px;
    border: 9px solid lightblue;
    padding: 30px; 
    padding-left: 800px;
    padding-right: 800px;
    width: 250px;
    height: 100px; 
    
    flex-direction: column;
  
}

 a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  } 
  
 
  
  .previous {
    display: flex;
    background-color: #f1f1f1;
    color: black;
    padding-left: 1000px;
  } 
  
  .next {
    display: flex;
    background-color:grey;
    color: white;
    padding-left: 1050px;
  }
   
  .round {
    border-radius: 10%;
  }



  #post-form{
  padding-left: 800px; 
  
    
  
  }

  #write-body{
      min-height: 200px;
      width: 600px;
      display: flex;
      
  }

