#ListBack {
  
    border-radius: 25px;
    border: 9px solid lightblue;
    padding: 50px; 
    width: flex;
    height: 100px; 
    display: flex;
    flex-direction: column;
  
}

 a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  } 
  
 
  
  .previous {
    display: flex;
    background-color: #f1f1f1;
    color: black;
  } 
  
  .next {
    display: flex;
    background-color:grey;
    color: white;
  }
   
  .round {
    border-radius: 10%;
  }



  #write-title{
   min-height: 300px;
      width:300px;
      font-size: 300pt;
      display: flex;
  
  }

  #write-body{
      min-height: 300px;
      width:300px;
      font-size:300pt;
      display: flex;
  }

  

  /* .main-column {
    max-width: 1200px;
    margin: 20px auto 0 auto;
    line-height: 1.65;
    padding: 10px 250px;
    display: flex; 
  } */
  
  /* #single-article {
    border-radius: 25px;
    border: 9px solid lightblue;
    padding: 50px; 
    width: block;
    height: 100px; 
    

  }   */
